<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
    <h1>File List</h1>

    <ul>
        {% for file in files %}
            <li>
                {{ file.filename }}
                <a href="/download/{{ file._id }}">Download</a>
                <a href="/delete/{{ file._id }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="/">Back to Home</a>
</body>
</html>

